// $primary: #ffaa55;
@import "../node_modules/bulma/bulma.sass";

.landing-body {
  background-image: url('./images/jakub-kapusnak-vnNFWKY7Tj4-unsplash.jpg');
  // Image alignment, scaling etc still needs tweaking
  // background-repeat: no-repeat;
  // background-position: center; 
  position: fixed;
}

.full-height-columns {
  // 3.25rem is the navbar height variable. Ideally this would incorporate that
  min-height: calc(100vh - ( 3.25rem - .75rem ) );
  max-height: calc(100vh - ( 3.25rem - .75rem ) );
  height: calc(100vh - ( 3.25rem - .75rem ) );
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

  // the funniest part of this copy pasta is that it works
.full-height-columns .column {
    overflow-y: auto;
}