// $primary: #ffaa55;
// $family-primary: 'Roboto', sans-serif;
$family-primary: 'Montserrat', sans-serif;
// $family-secondary: 'Montserrat', sans-serif;
$title-family: 'Roboto', sans-serif;
// $subtitle-family: 'Montserrat', sans-serif;
@import "../node_modules/bulma/bulma.sass";

.landing-body {
  height: 100%;
  width: 100%;
  background-image: url('./images/jakub-kapusnak-vnNFWKY7Tj4-unsplash.jpg');
  // Image alignment, scaling etc still needs tweaking
  background-position: center center; 
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-body-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgb(160,160,160);
    background: linear-gradient(180deg, rgba(160,160,160,.5) 0%, rgba(59,56,56,.75) 50%);
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.full-height-columns {
  // Not WAD, still a small discrepancy in height b/w elements
  // * Only min-height seems needed now that implementing other views
  min-height: calc(100vh -  #{$navbar-height} );
  // max-height: calc(100vh -  #{$navbar-height} );
  // height: calc(100vh -  #{$navbar-height} );
  // 3.25rem is the navbar height variable.
  // .75 is an adjustment for IE(?)
  // min-height: calc(100vh - ( #{$navbar-height} - .75rem ) );
  // max-height: calc(100vh - ( #{$navbar-height} - .75rem ) );
  // height: calc(100vh - ( #{$navbar-height} - .75rem ) );
  flex-direction: row;
  justify-content: stretch;
}

// the funniest part of this copy pasta is that it works
.full-height-columns .column {
    overflow-y: auto;
}

.hamburger-button {
  background-color: transparent;
  border-width: 1px;
  border-color: transparent;
}

// CSS fix for navbar dropdown on mobile
.navbar-item {

  &.has-dropdown {
    .navbar-dropdown {
      display: none;
    }
    &.is-active {
      .navbar-dropdown {
        display: block;
      }
     }
   }
}
